<launch>
    <node pkg="rviz_rc_view" type="input_handler_node.py" name="input_handler_node" output="screen">
        <param name="topic_name" value="/mavros/rc/in" />
        <param name="config_path" value="$(find rviz_rc_view)/config/control.json" />
    </node>
    <node pkg="rviz_rc_view" type="view_changer_node.py" name="view_changer_node" output="screen">
        <param name="topic_name" value="/rviz/camera_placement" />
        <param name="views_path" value="$(find rviz_rc_view)/config/views.json" />
    </node>
</launch>